body {
    background-color: rgb(177, 231, 231);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    
}

h1 {
    background-color: lightgray;
    color: rgb(109, 102, 102);
    text-align: center;
    margin: 0;
}

nav {
    background-color: gray;
    padding: 10px 50px;
    

}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

nav li {
    list-style-type: none;
               
}

h2 {
    text-align: center;
    font-weight: bolder;
}

section {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(82, 82, 139);
    text-align: center;
}

footer {
    background-color: rgb(231, 223, 133);
    text-align: center;
}